<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) sbdevblog (http://www.sbdevblog.com)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="enable_disable_cod_payment" instance="Sb\Payment\Observer\HandlePaymentMethods" />
    </event>
</config>